includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 3

    ignoreErrors:
        # Some Facades errors with nwidart laravel modules
        - '#Static call to instance method Nwidart\\Modules\\Facades\\Module::[a-zA-Z]+\(\)#'

        # Undefined properties due to model magic properties
        - '#Access to an undefined property App\\Http\\Resources\\[a-zA-Z]+::\$[a-zA-Z]+#'

        # Magic method in repositories
        - '#Call to an undefined method App\\Repositories\\[a-zA-Z]+Repository::[a-zA-Z]+\(\)#'

        # PHPStan can't type pivot columns
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Relations\\Pivot::\$[a-zA-Z]+#'
        - '#Access to an undefined property App\\Models\\[a-zA-Z]+::\$pivot#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
