includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 0

    ignoreErrors:
        # Some Facades errors with nwidart laravel modules
        - '#Static call to instance method Nwidart\\Modules\\Facades\\Module::[a-zA-Z]+\(\)#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
